* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: Knewave;
    src: url(fonts/knewave-regular-webfont.woff) format("woff"),
    url(fonts/knewave-regular-webfont.woff2) format("woff2");
    font-size: normal;
    font-weight: normal;
}

body {
    height: 100vh;
    font-family: Knewave, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 8px solid black;
    font-family: inherit;
    font-size: 72px;
}

.top {
    border-top: none;
}
.bottom {
    border-bottom: none;
}
.left {
    border-left: none;
}
.right {
    border-right: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.turn {
    text-align: center;
    font-size: 30px;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}